@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rowdies", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.nav-container {
    display: flex;
    justify-content: center;
    background-color: #FFDFEF;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-bar {
    background-color: #EABDE6;
    width: 90%;
    border-radius: 2rem;
    padding: 1.5rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link-container {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-transform: uppercase;
    color: white;
    align-items: center;
    justify-content: center;
}

.nav-link {
    padding: 0 2rem .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .3s;
}

.nav-link:before {
    content: "";
    position: absolute;
    inset: calc(100% - 3px) 0 0 0;
    /* 3px = the thickness */
    background: #ce4f20;
    /* the color */
    scale: 0 0;
    transition: .3s, translate 0s .3s;
}

.nav-link-container:hover .nav-link:before {
    scale: 1;
}

.nav-link:hover:before {
    translate: 0;
    transition: .3s;
}

.nav-link-container:hover .nav-link:has(~ .nav-link:hover):before {
    translate: 100% 0;
    transition: .2s .2s, scale 0s .4s;
}

.nav-link-container:hover .nav-link:hover~.nav-link:before {
    translate: -100% 0;
    transition: .2s .2s, scale 0s .4s;
}

/* ================= */

.title a {
    text-decoration: none;
    color: white;
}

.home-container {
    height: 90vh;
    background-color: #FFDFEF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-title {
    font-size: 2rem;
    margin: 1rem;
}

.home-detail {
    margin: 1rem;
}

.home-link-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-link {
    border: 2px solid #D69ADE;
    padding: 2rem;
    height: 1rem;
    margin: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3rem;
    text-decoration: none;
    color: #D69ADE;
    font-weight: bold;
    transition: 300ms ease;
}

.home-link:hover {
    scale: 1.2;
    border-radius: 1rem;
    background-color: #D69ADE;
    color: white;
}

/* ================== */

.about-container {
    height: 100vh;
    background-color: #EABDE6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.about-detail {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 30rem;
    height: 100%;
    border: 1px solid white;
    scale: .9;
    border-radius: 2rem;
    padding: 1rem;
}

.about-profile {
    margin: 1rem;
    border-radius: 2rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-profile img {
    border-radius: 2rem;
}

.about-sub-detail {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    height: 100%;
    width: 100%;
}

.about-sub-detail-l {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.about-sub-detail-r {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

/* ========================== */

.skill-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
}

.skill-contaienr {
    height: 100vh;
    background-color: #FFDFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skill-content {
    display: flex;
    justify-content: space-around;
    width: 80%;
    flex-wrap: wrap;
}

.skill-box {
    background-color: white;
    width: 25rem;
    height: 10rem;
    border-radius: 2rem;
    margin: 2rem;
    padding: 1rem;
}

/* ==================== */

.exp-container {
    height: 100vh;
    background-color: #EABDE6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.exp-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: 1px solid white;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 2rem black;
    margin: 2rem;
}

.exp-box {
    margin: 1rem;
    padding: 1rem;
}


.exp-box p {
    border-left: 2px white solid;
    padding: 1rem;
}

/* ================== */

.contact-container {
    height: 100vh;
    background-color: #FFDFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.contact-box {
    background-color: white;
    width: 25rem;
    height: 10rem;
    border-radius: 2rem;
    margin: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.contact-img {
    width: 30%;    
}

.contact-img img {
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    .nav-bar {
        flex-direction: column;
    }

    .nav-link-container {
        margin-top: 1rem;
        flex-direction: column;
        display: none;
    }

    .about-detail {
        width: 100%;
        height: 40%;
    }

  }
  
  @media only screen and (min-width: 1200px) {
    .nav-link-container {
        display: flex;
    }

  }
